@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
*{
    padding: 0%;
    margin: 0.6%;
text-decoration: none;
list-style: none;
letter-spacing: 0.03;
} 
:root{
    --blue:#2196F3;
}
body{
font-family:'Roboto', sans-serif;
 background-color:white;
 color: #000;
}

.logo-blue{
    color:var(--blue);
text-align: right;
font-family: 'Raleway';
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 1.17em;
letter-spacing: 0.03em;
cursor: pointer;
}
.link{
    color:#212121;
    font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 1.17em;
letter-spacing: 0.02em;
text-align: left;
cursor: pointer;
}
.link:hover{
    color: var(--blue);
}

.header-email{
    font-family: 'Raleway','Roboto', sans-serif;
    color: #757575;
font-size: 14px;
font-style:normal;
font-weight: 500;
line-height:1.17em;
letter-spacing: 0.03em;
   cursor: pointer;
}
.header-email:hover{
color:var(--blue);
}
.header-tel {
    
    color: #757575;
    font-family: 'Raleway','Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height:1.17em;
    letter-spacing: 0.03px;
    cursor: pointer; 
}
.header-tel:hover {
    color: var(--blue);
}
.hero{
     background:#2F303A ;
     font-family: 'Raleway','Roboto', sans-serif;
    color: #ffffff;
    line-height: 1.8em;
font-size:16px;
font-style: normal;
font-weight: 700;
letter-spacing: 0.03em;
}
.hero-btn{
    background-color: var(--blue);
    color:#ffffff;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.18em;
    font-family: 'Raleway','Roboto', sans-serif;
font-weight: 700;
letter-spacing: 0.06em;
cursor: pointer;
}
.hero-title{
    background:#2F303A;
    font-family: 'Raleway','Roboto', sans-serif;
    color: #ffffff;
    line-height:1.3em;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.03em;
    text-transform: uppercase; 

}

.politicas-title{
    color: #212121;
    font-family:'Raleway','Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height:1.17em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.politicas-text{
    color: #757575;
font-family:'Raleway','Roboto', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71em;
letter-spacing: 0.03em;
  }
.diseño-title{
    color: #212121;
    font-family:'Raleway','Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height:1.17em;
    letter-spacing: 0.03em;
}
.diseño-block{
    width: 373.16px;
line-height:1.15em;


}
.equipo-title{
    color: #212121;
    font-family:'Raleway','Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height:1.17em;
    letter-spacing:0.03em;
}
.equipo-name{
    color: #212121;
    font-family:'Raleway','Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height:1.17em;
letter-spacing: 0.03em;
}
.equipo-sub-title{
    color: #757575;
    font-family:'Raleway','Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height:1.17em;
letter-spacing: 0.03em;
}
.hero-triton{
    background:#2F303A ;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    line-height: 1.8em;
font-size:16px;
font-style: normal;
font-weight: 700;
letter-spacing: 0.03em;
}


.headr-button{
    color: #212121;
    font-family: 'Roboto', sans-serif;
font-size: 23px;
font-style: normal;
font-weight: 500;
line-height: 1.6em; 
width: 98;
height: 26;
}
.button-chang:hover{
    background: var(--blue);
   cursor: pointer;
}
.button-chang:focus{
    background:  var(--blue);
    color: #ffffff;
    cursor: pointer;
}
.team-diseño{
    color: #212121;
    font-family:'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 2em;
    letter-spacing: 0.06em;  
}
.team-profec{
color: #757575;
font-family:'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height:1.8em;
letter-spacing: 0.4;
}
