@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
*{
    padding: 0%;
    margin: 0.4%;
text-decoration: none;
list-style: none;
} 
body{
font-family: 'Raleway','Roboto', sans-serif;
 background-color:white;
 color: #000;

}
.hero{
    background:#2F303A ;
    color: #ffffff;
    line-height: 60px;
}
.hero-title{
    background:#2F303A ;
    color: #ffffff;
    line-height: 60px;
    text-align: center;
}

.hero-btn{
    background-color: #2196F3;
    color:#ffffff;
    cursor: pointer;
}
.hero-btn:hover{
    background:#2196F3 ;
    color:#ffffff;
}

.politicas-title{
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.politicas-text{
    color: #757575;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}
.equipo-name{
    text-align: center;
}
.equipo-sub-title{
    text-align: center;
}


.logo-blue{
    color: #2196F3;
text-align: right;
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
} 
.header-home{
    color: #212121;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}
.header-home:hover{
    color: #2196F3;
}

.header-email{
    
    color:black;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.header-email:hover{
color: #2196F3;



}
.header-tel {
    
    color:black;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px; 
}
.header-tel:hover {
    color: #2196F3;
}



.button{
    color: #212121;
    cursor: pointer;
    border-radius: 4px;
    width: 145px;
    height: 38px;
}
.button:focus{
background: #2196F3;
}
.button:hover{
    background: #2196F3;
   color:#ffffff ;

}

