@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
*{
    padding: 0%;
    margin: 0%;
text-decoration: none;
list-style: none;
} 
body{
font-family: 'Raleway','Roboto', sans-serif;
 background-color:white;
 color: #000;
 text-align: center;
}
.logo-blue{
    color: #2196F3;
text-align: right;
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}

.button{
    background-color:white;
    color:#2196F3;
    text-decoration: none;
}


